body, html {
  margin: 0;
  height: 100%;
}

#map {
  height: 100%;
}

#addBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  font-size: 36px;
  font-weight: bold;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  /* (Puts above everything) */
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#addBtn {
  opacity: 1 !important;
  transition: none !important;
}

/* Now, below is things about the form */

.hidden {
  display: none;
}

#eventForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  padding: 20px;
  width: 300px;

  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
/* puts it over everything */
  z-index: 10000;
}

#eventForm label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

#eventForm input,
#eventForm select,
#eventForm textarea {
  width: 100%;
  margin-top: 4px;
}
/* button spacing */
#eventForm button {
  margin-top: 12px;
}

