body, html {
  margin: 0;
  height: 100%;
}

#map {
  height: 100%;
}

#addBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
